.product_container{
    max-width: 1377px;
    height: 100%;
    margin-left: 30px;
    margin-bottom: 56px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 405px 405px;
    column-gap: 42px;
    row-gap: 44px;
}

.title{
    width: 800px;
    height: 52px;
    margin-bottom: 81px;
    margin-left: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: normal;
    color: black;
}

@media (max-width: 425px){
    .product_container{
    grid-template-columns: 300px 300px 300px;
    }
}