
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1348px;
    height: 275px;
    margin-left: 30px;
    margin-bottom: 47px;
    flex-wrap: wrap;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.contacts_title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: black;
    margin-bottom: 25px;
}

.phone_number{
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 91px;
    color: black;
    margin-bottom: 30px;
}

.address_title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: black;
    margin-bottom: 25px;
}

.address_details{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    text-decoration-line: underline;
    color: black;
    width: 564px;
    height: 104px;
    margin-bottom: 20px;
}

.opening_hours{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: black;
    margin-bottom: 2px;
}

.opening_hours2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: black;
}

.social_media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 196px;
    height: 77px;
}

.instagram{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: black;
    margin-top: 8px;
}

.whatsapp{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: black;
    margin-top: 8px;
}

.insta_icon, .whatsapp_icon{
    text-decoration: none;
}

.google_map{
    margin-left: 30px;
    margin-bottom: 38px;
}

@media (max-width: 425px){
    .footer_wrapper{
        width: 1150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;        
    }

    .phone_number{
        font-weight: 600;
        font-size: 50px;
    }

    .google_map{
        width: 1140px;
    }
}
